[Logging]
LoggingConsole = INFO
LoggingFile = DEBUG

[GLDS]
Number = 194
PairedEnd = True

[Options]
#MaxFastQLinesToCheck = 10000000
# REMOVE THIS FOR DEBUG
MaxFastQLinesToCheck = 1000
# Raw V-V Parameters.  Assessed based on MultiQC data.
SequenceLengthVariationTolerance = 0
PercentGCVariationTolerance = 2
TotalSequencesVariationTolerance = 2
PercentDuplicatesVariationTolerance = 2

[Naming]
# this is the suffix attached by fastQC
FastQCSuffix = _raw_fastqc

[Paths]
DataPath = /data2/JO_Internship_2021/V-V_scripts/GLDS-${GLDS:Number}
ISAZip = ${DataPath}/Metadata/GLDS-${GLDS:Number}_metadata_GLDS-${GLDS:Number}-ISA.zip
RawReadDir = ${DataPath}/00-RawData
RawFastQCDir = ${DataPath}/00-RawData/FastQC_Reports
RawMultiQCZip = ${DataPath}/00-RawData/FastQC_Reports/raw_multiqc_report/raw_multiqc_data.zip
