[Logging]
LoggingConsole = DEBUG
LoggingFile = DEBUG
HaltSeverity = 91

[GLDS]
Number = 194
PairedEnd = True

[Options]
MaxFastQLinesToCheck = 1000
# Raw V-V Parameters.  Assessed based on MultiQC data.
SequenceLengthVariationTolerance = 0.05

[Naming]
# this is the suffix attached by fastQC
FastQCSuffix = _raw_fastqc
