[Logging]
HaltSeverity = 90

[GLDS]
Number = 194
PairedEnd = True

[Paths]
DataPath = tests/assets/GLDS-${GLDS:Number}
ISAZip = ${DataPath}/Metadata/GLDS-${GLDS:Number}_metadata_GLDS-${GLDS:Number}-ISA.zip
RawReadDir = ${DataPath}/00-RawData/Fastq
RawFastQCDir = ${DataPath}/00-RawData/FastQC_Reports
RawMultiQCDir = ${DataPath}/00-RawData/FastQC_Reports/raw_multiqc_report/multiqc_data
TrimmedReadDir = ${DataPath}/01-TG_Preproc/Fastq
TrimmedFastQCDir = ${DataPath}/01-TG_Preproc/FastQC_Reports
TrimmedMultiQCDir = ${DataPath}/01-TG_Preproc/FastQC_Reports/trimmed_multiqc_report/multiqc_data
StarParentDir = ${DataPath}/02-STAR_Alignment
RsemParentDir = ${DataPath}/03-RSEM_Counts
Deseq2ParentDir = ${DataPath}/04-DESeq2_NormCounts
